{% render 'partials/head.liquid', title: 'Squad page 1H' %}

<main>

<h1>{{ title }}</h1>

<ul class="teams">
<li class="filter-link"><a href="/teamcool">Team Cool</a></li>  
<li class="filter-link"><a href="/teamrad">Team Rad</a></li>
<li class="filter-link"><a href="/teamspirit">Team Spirit</a></li>
<li class="filter-link"><a href="/teamchill">Team Chill</a></li>
<li class="filter-link"><a href="/teamawesome">Team Awesome</a></li>
<li class="filter-link"><a href="/teamblaze">Team Blaze</a></li>
<li class="filter-link"><a href="/teamrocket">Team Rocket</a></li>
</ul>

  <ul class="container">
    {% for person in persons %}
      <li class="cards" style="background-color: {{person.fav_color}};">
        <img src="{{ person.avatar }}" height="230" alt="avatar">
        <div>{{ person.name }}</div>
      </li>
    {% endfor %}
  </ul> 

</main>
{% render 'partials/foot.liquid', squads: squads %}

{% comment %} <h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>  {% endcomment %}